#header-container{
    background-color: #c4c4c4;
  
   
}


#header{
    padding: 10px;

}
#logo-center{
    text-align: end;
    font-family: Roboto;
    font-size: 45.7627px;
    line-height: 54px;
    color: #000000;
    width: 80%;
}
.col-sm-4{
    position: absolute;
    width: 15%;
    height: 5%;
    left: 10%;
    top: 11px;   
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 45.7627px;
    line-height: 54px;
    text-align: center;
    color: #000000;
}

/*styles do main*/

#main-container{
    width: 70%;
}


#recup{
    padding-top: 11%;
}

#texto{
    padding-top: 4%;
    font-family: roboto;
  
}

#camp-1{
    position: absolute;
    width: 70%;
    height: 10%;
    left: center;
    top: 60%;
}

#camp-2{
    position: absolute;
    width: 70%;
    height: 10%;
    left: center;
    top: 68%;
}

.footer{
    position:absolute;
    width: 80%;
    height: 10%;
    top: 80%;
    text-align: center;
}

.btn {
    background-color: #c4c4c4 ;
}

.form-control{
    background-color: #c4c4c4;
}

#camp-3, #camp-4{
    position: absolute;
    padding-left: 10%;
    width: 60%;
    height: 10%;
}
#camp-3{  
    padding-top: 10%;  
    top: 45%;
}

#camp-4{
    top: 55%;
}
